@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&family=Space+Grotesk:wght@300;400;500;700&display=swap');
/* font-family: 'Poppins', sans-serif;*/
/*font-family: 'Playfair Display', serif;*/

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
/* navbar css*/
.navbar-brand{
  font-weight: 600;
  font-family: 'roboto',sans-serif;
  letter-spacing: 2px;
  color:rgb(229, 150, 4) !important;
}

.navbar{
  font-family: 'Poppins', sans-serif;
  font-size:16px;
  line-height:25px;
  text-transform:uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow:0 8px 6px -6px gray;
  border-bottom:0px solid gray !important;
}

.nav-link{
  font-weight: 300 !important;
}

.active{
  border-bottom: 2px solid black;
}
/* ============================Page Not found css==================*/
.pnf{
  display:flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.pnf-title{
  font-size: 100px;
  font-weight: 700;
}
.pnf-heading{
  font-weight: normal;
}
.pnf-btn{
  color:black;
  border:1px solid black;
  text-decoration: none;
  padding:10px;
  margin-top: 10px;
  font-weight: 500;
}
.pnf-btn:hover{
   background:linear-gradient(to right,#454546,#000);
   color:rgb(225, 214, 214);

}

/*===================contact us ==================*/
.contact-us{
  margin:0;
  padding:0;
  position :relative;
  z-index: -1;
}
.contact-info{
  position:absolute;
  bottom:80px;
}
/* ======================About us================*/
.about-us{
  margin:0;
  padding:0;
  position :relative;
  z-index: -1;
}
.about-info{
  position:absolute;
  bottom:60px;
}
.about-info h1{
  font-weight: 700;
}

/* *========================footer==================*/
.footer{
color:white;
padding: 25px;
background: #000;
background: -webkit-linear-gradient(to right,#454546,#000000);
background:linear-gradient(to right,#454546,#000000)
}
.footer a{
  text-decoration :none;
  color:white;
  padding: 10px
}
.footer a:hover{
  color:#ffefba;
  border-bottom:1px solid #ffefba;
}

/* =============Product link======*/
.product-link{
  text-decoration: none !important ;
  color: black !important;
}